.thumbnail_app {
  width: 200px;
  height: 200px;
  display:table;
  background-color:#f5f5f5;
  border:1px solid #ddd;
}
.filepond--wrapper {
  width:100%;
  vertical-align:middle; 
  display:table-cell;
}
