.PhotoUploadModal {
    justify-content: center;
    position: relative;
    left :50%;
}

.modal-footer {
    text-align: center;
}


.setting_item{
    text-align: center;
    position: relative;
}

.modal-body{
    text-align :center;
}

input#setting_input{
    display: inline-block;
    text-align:center;
}

.modal-dialog:after {clear:both; display:block; content:'';}
.modal-header {border-bottom:0;}
.modal-title {font-size:24px;}
.modal-body {padding-bottom:40px;}
.modal-footer {border-top:1px solid #ddd;}
.btn-default,
.btn-default:hover {min-width:120px; padding:.8em 1.2em; font-size:15px; color:#fff; text-shadow:none; background:#3376ff; border:0; border-radius:1.4em;}
.PhotoUploadModal {left:0;}

.ui.input>input {border:0; opacity:0; cursor:pointer;}

.fileUploadContent {width:100%; padding:20px 0;}
.fileUploadContent:after {clear:both; display:block; content:'';}
.fileUpload {position:relative; width:80%; margin:0 auto;}
.file_input_textbox {float:left; width:70%; height:38px; border:1px solid #ccc;}
.file_input_div {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 38px;
    overflow: hidden;
    display:inline-block;
}
 
.file_input_button {
    width: 28%;
    height:38px;
    position: absolute;
    top:0;
    right:0;
    font-size:14px;
    color: #FFFFFF;
    background-color:#464646;
    border:0;
}
 
.file_input_hidden {
    position: absolute;
    right: 0px;
    top: 0px;
    width:100%;
    height:100%;
    opacity: 0;
    z-index:1;
    cursor:pointer;
    
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -khtml-opacity: 0;
    -moz-opacity: 0;
}
.bookSearch_Wrap {min-width:300px;}
.bookSearch_Api {position:relative; width:280px; height:48px; margin:0 auto;}
.bookSearch_Api:after {clear:both; display:block; content:'';}
.bookSearch_Api > form {position:relative;}
.bookSearch_Api .form-group {margin-bottom:0;}
.bookSearch_Api .form-group > label {display:none;}
.bookSearch_Api .form-control {width:280px; height:48px; padding:0 55px 0 15px; border:1px solid #ddd; border-radius:24px; box-shadow:none;}
.bookSearch_Api .form-control:focus::-webkit-input-placeholder {color:transparent;}
.bookSearch_Api .form-control:focus {color:#151515; border-color:#3376ff; box-shadow:none;}
.bookSearch_Api .btn-info,
.bookSearch_Api .btn-info:focus,
.bookSearch_Api .btn-info:active {position:absolute; top:7px; right:5px; width:48px; height:34px; text-indent:1000em; overflow:hidden; background:url('../../img/main-search-icon.png') center center no-repeat; border:0; opacity:.7; z-index:1; box-shadow:none; outline:none;}
.bookSearch_Api .btn-info i {display:none;}
.modal-footer .btn-success,
.modal-footer .btn-success[disabled] {width:280px; height:48px; font-size:15px; color:#fff; text-shadow:none; border:0; border-radius:24px; box-shadow:none; opacity:1;}
.modal-footer .btn-success {background-color:#3376ff;}
.modal-footer .btn-success[disabled] {background-color:#dadada;}

.bookSearch_Api .form-control[value=''],
.bookSearch_Api .form-control:-internal-autofill-selected {color:#151515; background-color:#fff; border:1px solid #3376ff;}

/*
.bookSearch_Api {padding-top:20px;}
.bookSearch_Api {position:relative; width:280px; height:48px; margin:0 auto;}
.bookSearch_Api input[type='text'] {width:100%; height:100%; padding:0 55px 0 21px; font-size:15px; color:#dbdbdb; border:1px solid #ddd; border-radius:24px;}
.bookSearch_Api input[type='text']:focus::-webkit-input-placeholder {color:transparent;}
.bookSearch_Api input[type='text']:focus,
.bookSearch_Api input[type='text']:active,
.bookSearch_Api.focus input[type='text'] {color:#151515; border-color:#3376ff;}
.bookSearch_Api > button {position:absolute; top:0; right:5px; width:48px; height:48px; background:url('../../img/main-search-icon.png') center center no-repeat; border:0; opacity:.7; z-index:1;}

.btn_bookAdd {width:280px; height:48px; font-size:15px; color:#fff; background-color:#3376ff; border:0; border-radius:24px; box-shadow:none;}

*/
@media all and (max-width: 768px) {
    .fileUpload {width:100%;}
}