.PhotoUploadModal {
    justify-content: center;
    position: relative;
    left :50%;
}

.modal-footer {
    text-align: center;
}


.setting_item{
    text-align: center;
    position: relative;
}

.modal-body{
    text-align :center;
}

input#setting_input{
    display: inline-block;
    text-align:center;
}