.PhotoUploadModal {

    text-align: center;
    justify-content: center;
    position: relative;
    left :50%;
}

.modal-footer {
    text-align: center;
}


.item{
    text-align: center;
    position: relative;
    left :50%;
}

