.navbar-default {
  border-bottom-color: #ccccff;
}

.thisBook {
  font-family: BMDoHyeon-OTF;
  font-size: 28.4px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f1f1f;
}

form{
  display: inline;
  height: 100px;
  width: 500px;
}

input {
  width : 50%;
  height: 50px;
}
