/* 크롬은 input 외에도 focus가 가능한 모든 엘리먼트에 파란색 테두리를 표시해요.
그걸 방지하려면 아래와 같이 할 수 있어요. */
*:focus { 
  outline: none;
}

.backImg {
  position: fixed; 
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-image: url("../../img/backimg.png");
  background-size: cover;
  background-attachment: fixed;
}

.login_container {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.login_container_1{
  text-align: center;
  width: 40%;
  max-width: 400px;
  min-width: 300px;
  height: 100%;
  min-height: 500px;
  padding: 50px 20px 50px 20px;
  background-color: transparent;
  border-radius: 5px;
}

.signup_container_1{
  text-align: center;
  width: 40%;
  max-width: 400px;
  min-width: 300px;
  height: 100%;
  min-height: 500px;
  padding: 50px 20px 50px 20px;
  background-color: #f7d0cb;
  border-radius: 5px;
}

.findpw_container_1{
  text-align: center;
  width: 40%;
  max-width: 400px;
  min-width: 300px;
  height: 100%;
  min-height: 500px;
  padding: 50px 20px 50px 20px;
  background-color: #96ceb4;
  border-radius: 5px;
}

.resetPw_container_1 {
  text-align: center;
  width: 40%;
  max-width: 400px;
  min-width: 300px;
  height: 100%;
  min-height: 500px;
  padding: 50px 20px 50px 20px;
  background-color:	#77aaff;
  border-radius: 5px;
}

.login_container_2 {
  /* padding: 0 0 30px 0; */
}

.title1 {
  color: #ffffff;
  font-size: 21.8px;
  margin: 0;
  margin-bottom: 15px;
}

.title2 {
  margin: 0;
  margin-bottom: 33px;
}

.title3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18.4px;
  margin: 0;
  margin-bottom: 34px;
}

.login_input {
  /* margin: 5px 0 5px 0; */
  width: 280px;
  height: 48px;
  border-radius: 25px;
  border-width: 0;
  padding-left: 25px;
  color: #1e1e1e;
  font-size: 14.9px;
  margin: 0;
  margin-bottom: 10px;
}

.login_input::placeholder {
  color: #b3b3b3;
}

.findPw_input{
  margin: 5px 5px 5px 0;
  width: 60%;
  height: 2em;
}

.signup_email{
  padding: 0 0 30px 0;
}

.login_btn{
  /* margin: 5px 0 5px 0; */
  width: 280px;
  height: 48px;
  border-radius: 25px;
  border-width: 0;
  font-size: 14.9px;
  margin: 0;
  margin-bottom: 10px;
  
  /* background-color: #3376ff; */
}

.login_flex{
  padding: 0 50px 0 50px;
  margin:0;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.login_privacy{
  padding: 20px;
}

.custom_btn_continue{
  background: #3376ff;
  color: #ffffff;
  /* border: 2px solid red; */
  /* padding: 5px 10px; */
  /* text-transform: uppercase; */
}

.custom_btn_facebook{
  background: #3c5a99;
  color: #ffffff;
}

.custom_btn_google{
  background: #ffffff;
  color: #8a8a8a;
}

